<!DOCTYPE html>
<html>
    <head>
        <title>NADMACO</title>
        {% include 'home2.html'%}
    </head>
<body>
    <h1>Nadmaco.Ltd</h1>
    <div id="container0">
        <img id="banner" src="static/nadmaco00.jpg">
    </div>
    <div id="container">
        <h2>Nadmaco Vission</h2>
        {% include 'page.html'%}
        <h2>Open Position</h2>
        <p>
        <div>
            {%for job in jobs%}
               {% include 'home1.html'%}
            {%endfor%}    
        </div>
        </p>
    </div>
    <div style="text-align: center;">
        <button class="btn btn-primary btn-lg">Contact Us</button>
    </div></br>
    <div style="margin: 0 auto; text-align: center;">
        <video width="200px" 
           height="100px" 
           controls="controls">
            <source src="static/Nadmaco_SQL_Learn_for_Beginners.mp4"           type="video/mp4" />
        </video>
        <p class="mt-4">Copyright 2024 Nadmaco.Ltd</p>
    </div>
</body>
</html>