<table>
    <tr>
    <div id="container">
    <div class="row">
        <td side="left" class="col-8">
            <div style="margin-bottom:16px;"><h4 style="margin-bottom:4px;">{{job['title']}}</h4></div>
            <div style="word-spacing:0.2em;"><b>location:</b>{{job['location']}}</div>
            {% if 'salary' in job %}
            <div><b>Salary:</b>{{job['salary']}} </div>
            {% endif %}
        </td>
        <td>_          _ </td>
        <td>_          _ </td>
        <td>_          _ </td>
        <td>_          _ </td>
        <td>_          _ </td>
        <td>_          _ </td>
        <th side="right" class="col-3">
            <div>
                <button type="button" class="btn btn-outline-primary">Apply</button>
            </div>
        </th>
    </div>
    </div>
    </tr>
</table>